[submodule "Crayfish"]
	path = Crayfish
	url = https://github.com/Islandora-CLAW/Crayfish
[submodule "pdx"]
	path = pdx
	url = https://github.com/Islandora-CLAW/pdx
[submodule "chullo"]
	path = chullo
	url = https://github.com/Islandora-CLAW/chullo
